body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	color: #999999;
	font-family: Georgia,serif;
	font-style: italic;
	font-weight: normal;
}

input[type=text] {
	width: 300px;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

fieldset p {
	margin: 0;
}

#slidepanel {
    padding: 10px;
    display: none;
}